[2014-05-28 11:41] DavidAustin opened #1 "Parser not quite right"
The spec says that newlines are meaningless - yet the parser assumes one data block per line.  My file has

G54D200_X115157Y600393D03_

and similar.  According to the spec, having no newlines would be valid.

[2014-05-30 14:54] #1 closed, assigned to nobody

[2014-10-27 16:20] hamiltonkibbe opened #6 "Travis/Coveralls"
If you get a chance, could you set up travis and coveralls for this repo. right now the readme badges are tracking my repo.
Its pretty quick to do just go to travis-ci.org and log in using github and turn on builds for this repo. same thing at coveralls.io, and then update the badge sources in readme.md to use the badges from those accounts.

Thanks

[2014-10-28 13:58] #6 closed, assigned to phsilva

[2015-02-05 05:26] phsilva opened #8 "Merge svgwrite and cairo backends"
I will work next few days to merge current svg and cairo backends to get only one cairo based backend working with everything we already support.

As cairo supports various surface types, including SVG, I think we could remove code and end up with better render support and quality over different output types.

Let me know if you have any ideas or suggestions.

[2015-02-05 05:28] phsilva opened #9 "Document supported Gerber/Excellon constructs and render status"
Table with construction (gerber and excellon) status: parsing, creation, transform (currently only inch2metric and metric2inch, later rotation and maybe general transforms) and render.

[2015-02-05 05:32] phsilva opened #10 "Add file transformation and tool framework"
The idea of having a well design and tested Gerber/Excellon library allow the creation of tools to transform/modify those files in a easy way.

We should have API to support the creation of general transform tools.

Examples:
 * see xesscorp fork with a Gerber clipper tool
 * we (@curtacircuitos) have a internal tool that merges different files that competes with gerbmerge in quality (it is used i

[2015-02-05 05:35] phsilva opened #11 "Use gerbv test suite"
gerbv [1] have a good test suite, including graphical testing. We should explore the idea of adding automated render testing. Using cairo (proposed on #8) will help on that.

[1] http://git.geda-project.org/gerbv/tree/test

[2015-02-05 17:53] hamiltonkibbe commented on #10
I think transform and operations modules would be good to have. Some thoughts/features I had been considering:

Transforms: scaling, rotating
Operations: clipping, subtraction (e.g. subtract soldermask openings from silkscreen)

[2015-02-05 18:09] hamiltonkibbe commented on #8
Just make sure that getting cairo set up on windows is not too difficult before dropping svgwrite. Having cairo as an optional dependency would be idea. It could be discouraging to people trying to use this library only for transforms etc. if they had to struggle with getting cairo and pycairo set up, for features they wouldn't use.

I think a good goal would be a generic context class that uses a

[2015-02-05 18:15] hamiltonkibbe commented on #9
I'll put a features page into the docs with a table like that. I'll get the repo set up on readthedocs as well.

[2015-02-11 18:11] phsilva opened #12 "Stroke with rectangular aperture"
Current code does not pass enough information to be able to stroke rectangular apertures.

By spec, Gerber allows solid circle and solid rectangle apertures. Currenly we assume we are dealing with circular apertures and do not pass enough info to Line primitive to be able to render it. See attached example (which currently causes an exception for us).

[code]

which should render to (using gerbv):

[2015-02-13 22:17] phsilva commented on #12
Arcs cannot be stroked with anything but solid circle aperture. So I think we are good now.

[2015-02-13 22:18] #12 closed

[2015-02-14 23:09] phsilva opened #13 "Aperture macros variable parsing and evaluation"
Already have basic parsing working. Will add some tests and commit by tomorrow.

[2015-02-16 02:40] hamiltonkibbe opened #14 "Add ReadTheDocs Webhook"
I've got the the project set up on readthedocs for documentation hosting but can't enable the webhook on the repo...

Instructions [here](http://docs.readthedocs.org/en/latest/webhooks.html).

[2015-02-16 13:40] phsilva commented on #14
Done.

[2015-02-16 13:40] #14 closed

[2015-02-20 09:56] pklaus commented on #12
Currently, rendering Arcs may fail with:

    File "../python3.4/site-packages/gerber/__main__.py", line 38, in <module>
        gerberfile.render(ctx)
      File ".../python3.4/site-packages/gerber/cam.py", line 246, in render
        ctx.render(p)
       File ".../python3.4/site-packages/gerber/render/render.py", line 131, in render
        self._render_arc(primitive, color)
      File ".../pyth

[2015-02-28 17:33] phsilva commented on #13
Way longer than I thought, but it is close now, will push it later today. Will be ready to start adding render support for macros.

[2015-04-24 11:45] punkkeks opened #25 "to_metric / to_inch is not idempotent"
[code]

This is a problem. A fix would be to store internally what unit is currently in use.

[2015-04-24 12:34] phsilva commented on #25
@punkkeks, I will take a look at it. Thanks for the catch.

[2015-04-24 16:34] phsilva commented on #25
Fixed by #25. Thanks.

[2015-04-24 16:34] #25 closed

[2015-04-24 16:35] phsilva commented on #13
Merged.

[2015-04-24 16:35] #13 closed

[2015-04-24 16:47] punkkeks commented on #25
@phsilva please look at my comment
https://github.com/curtacircuitos/pcb-tools/commit/390838fc8b70c9b105fdc1d3e35a4533b27faa83#commitcomment-10892665

[2015-04-24 16:57] punkkeks commented on #25
I would suggest, that you store all variables that need to be converted in a list as 'private member' (or similar) and convert these in the to_metric method in the primitive class... This could be easier and reduce the code a lot!

[2015-04-24 17:02] phsilva commented on #25
yep, it will reduce much of the code. will add this to my (growing) refactoring list. tks.

[2015-04-24 19:07] hamiltonkibbe commented on #25
I like that approach, I'll go ahead and make that change, along with making sure all the tests cover regression on this issue

Sent from my iPhone

[2015-05-14 19:08] mguthaus opened #27 "Optional modifiers for circle and macro incorrect"
Is the current github repo of your tools in a working condition? I cannot get the example to run. It seems to give errors on the regular expressions for the aperture defines like this:

%?(?P<param>AD)D(?P<d>\d+)(?P<shape>C)[,]?(?P<modifiers>[^,]*)?*%?

The error is:
    raise error, v # invalid expression
sre_constants.error: nothing to repeat

I think there are some problems with the number of m

[2015-05-14 19:25] mguthaus commented on #27
Looks like the formatting messed up the regex examples... anyhow, I sent you a patch.

[2015-05-14 21:46] phsilva commented on #27
Matt, what example are you trying to run and getting this error? I just tried the cairo example on examples folder and it works as expected.

I added support for the non compliant way of using a circle aperture without modifiers because I have a bunch of Gerbers in this way. While you must provide modifiers for circle, you are allowed to have zeroed circles and some CADs just ignore the modifier a

[2015-05-14 22:00] mguthaus commented on #27
I ran the example in the example folder (examples/cairo_example.py) on OSX
with Python 2.7.5.

While I understand that some tools may output malformed gerber files
without these modifiers (they are required in the specification),  then the
regex would need to be improved for 0 or more modifiers. Right now, it
wasn't even parsable in the version of Python I mentioned.

On Thu, May 14, 2015 at 2:46

[2015-05-14 22:22] phsilva commented on #27
I am using Python 2.7.9 (just updated, worked on 2.7.6 as well) on OS X.

regex right now looks like this (https://github.com/curtacircuitos/pcb-tools/blob/master/gerber/rs274x.py#L147)

[code]

which do support optional (0 or more, using '?' in the last group). we do run a tests using this  2.7, 3.3 and 3.4 at https://travis-ci.org/curtacircuitos/pcb-tools.

try this case here just to see what is

[2015-05-14 22:24] mguthaus commented on #27
r"(?P<param>AD)D(?P<d>\d+)(?P<shape>C)[,]?(?P<modifiers>[^,]*)?"

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File
"/System/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/re.py",
line 137, in match
    return _compile(pattern, flags).match(string)
  File
"/System/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/re.py",
line 242, in _comp

[2015-05-14 22:25] mguthaus commented on #27
I agree now that it seems the regular expression should be well formed upon
further investigation. (I'm new to Python re, but am well-versed in Perl.)
This is quite odd though since I'm using the standard system Python.

On Thu, May 14, 2015 at 3:23 PM, Matthew Guthaus <mrg@ucsc.edu> wrote:

--
Matthew Guthaus
Associate Professor, Computer Engineering
University of California Santa Cruz
http://www

[2015-05-14 22:26] phsilva commented on #27
yes, that is odd indeed, let me dig a little bit more here. I'll get the same 2.7.5 version here to test.

[2015-05-15 13:00] hamiltonkibbe commented on #27
I can't get it to reproduce on 2.7.6 or later on OSX.

Looks like it may be caused by http://bugs.python.org/issue18647. That check (in sre_compile.py) was removed on 2013/08/19 and 2.7.6 was released 2013/11/10:
https://hg.python.org/cpython/rev/7b867a46a8b4/
which seems to match up with what we're seeing here

Regex wizardry isn't really my forte so I'm not sure what the fix is...
It seems to be

[2015-06-01 19:53] phsilva opened #28 "Parsing of incorrect IPC D-356 Nelist"
I was trying to use the IPC reader and by lucky the first file I tested on Eagle apparently is not conformant and cause errors in the current parser.

[code]

The column with the COMMUNICATION mark is way too long and is probably non conformant, but it is what Eagle generates.

[2015-06-02 03:30] phsilva commented on #28
Fixed by #29.

[2015-06-02 03:30] #28 closed

[2015-06-08 11:35] koppi opened #30 "drill file path optimizer: drl-optimize.py"
I wrote a path optimizer for excellon drill files.

example:

input
![20150608-001](https://cloud.githubusercontent.com/assets/9458631/8033904/e23c7328-0de2-11e5-9058-cdfe1ce7246e.png)
optimized output:
![20150608-003](https://cloud.githubusercontent.com/assets/9458631/8033906/e5b35ca6-0de2-11e5-93c0-31cd59b6c8a9.png)
code:
[code]

My code sucks, because I could not find any way to re-order the dr

[2015-06-09 12:50] phsilva commented on #30
Good to see someone using this code, even tough it is still lacking some good API for writing as in your case. I will see how we can improve this in the couple of days, ideas are much welcome.

[2015-06-09 12:51] phsilva commented on #30
@koppi, btw, what software is this one form your screenshots?

[2015-06-09 13:07] koppi commented on #30
@phsilva http://openscam.com/

[2015-06-09 14:57] hamiltonkibbe commented on #30
I'd been thinking a little bit about a way to link primitives to their respective statements so that you could make bi-directional changes, e.g. change a statement and have the primitives update automatically and vice-versa. One hack-ish option that wouldn't require any sort of primitive <--> statement link would be to iterate over all the statements in a file and regenerate all the primitives  wh

[2015-06-25 17:28] hamiltonkibbe commented on #30
@koppi I've made some changes (on the statement_link branch) that lets you re-order drill hits in the file. If you change the order of the drill hits in `f.hits` in your example, when you call `f.write()` to export the gerber file, the drill hits will be in the new order. Check it out when you have a chance

[2015-06-25 18:55] koppi commented on #30
@hamiltonkibbe thank's for the update. pcb2gcode implemented the TSP optimization two weeks ago, see https://github.com/pcb2gcode/pcb2gcode/issues/12 I'm no longer interested in my hackish Python script, if someone else want's to give it a try, please do so.

[2015-07-22 09:54] CreativeSoftware opened #32 "holes in inner copper layer"
When it has to handle internal holes in inner copper layers , pcb-tools uses lines instead of arcs. So the geometry becomes odd. Probably it is a problem with a gerber keyword

[2015-07-22 10:04] CreativeSoftware opened #33 "Svgwrite and cairo merge issues"
After the merge I faced some issues. When I try load 2 or more layers on the same ctx dumping in the end to a png it only appears the last load, the first ones didn’t load.
When I try to use svg as output I have a problem probably because I’m using windows. It is prompted a problem on a temporary file and the svg it is not created.

[2015-07-22 10:13] CreativeSoftware opened #34 "Alternative visualization"
I think would be useful na alternative visualization mode.
Sometimes when we are using a gerber file it is not so important view all the copper with the “drilled lines”. Sometimes it is important clearly view the electric circuit like in the cad view. So, my suggestion is create a option to render only the copper lines (an holes) and let the background clean.

[2015-07-22 10:24] CreativeSoftware opened #35 "Overlaid mill files with gerber"
When it is rendered a mill file in all gerber readers appears “crosses”. The machine “knows” when it hits a cross it stops the drill at this point and jumps after the cross continuing the work on the FR4. On the pcb it creates a “bridge” which is later broken at the end of the fabrication process.
For visualization purposes makes sense when it is overlayed a mill with a copper layer create a bridg

[2015-07-22 14:41] hamiltonkibbe commented on #32
Can you give an example file that displays this behavior?

Some CAD programs (e.g. Altium) use gerber Region statements to define copper layers. Because region statements don't support arcs, circles are approximated by a series of straight lines. In altium there is a setting to configure how many lines to use when approximating circles, not sure about other cad programs. Have you compared the resu

[2015-07-23 08:56] CreativeSoftware commented on #32
I can give you a simple example that illustrates what I'm saying :)
Incorret rendering with pcb-tools:

https://dl.dropboxusercontent.com/u/710615/Bug.PNG

Correct rendering with gerbv :
https://dl.dropboxusercontent.com/u/710615/CorrectRenderGerbv.PNG

[2015-07-23 14:30] hamiltonkibbe commented on #32
Could you provide the Gerber file for that layer so I can try to figure out what's going on?
Just for reference, what CAD program was used to generate the file?

[2015-07-23 14:35] hamiltonkibbe commented on #30
#31 Added support for re-ordering drill hits to allow operations like this, as well as an example based on this script.

[2015-07-23 14:35] #30 closed

[2015-07-23 14:51] CreativeSoftware commented on #32
At this moment I don't know the name.
I cannot provide the full gerber file( proprietary issue), however I think that you are able to use this one:

https://dl.dropboxusercontent.com/u/710615/Desktop.7z

[2015-07-24 14:16] hamiltonkibbe commented on #32
Neither of those layers seem to have circular plane cutouts, could you just provide the layer that was rendering incorrectly?

[2015-07-24 14:22] CreativeSoftware commented on #32
https://dl.dropboxusercontent.com/u/710615/LA1.gbx
i.e.

[2015-07-24 14:23] hamiltonkibbe commented on #32
Thanks I'll take a look at that tonight

[2015-07-24 15:53] phsilva commented on #33
@CreativeSoftware, could you try the latest version and see if it is solved? Just this particular issue for now.

[2015-07-24 16:10] CreativeSoftware commented on #33
The layers are been rendering properly overlaid ! Well done.

However, it is not working the svg.
 File "build\bdist.win-amd64\egg\gerber\cam.py", line 264, in render
  File "build\bdist.win-amd64\egg\gerber\render\cairo_backend.py", line 157, in dump
IOError: [Errno 13] Permission denied: 'c:\\users\\marcoe~1\\appdata\\local\\temp\\tmpx0icyj'

[2015-07-25 13:50] hamiltonkibbe commented on #33
@CreativeSoftware could you confirm that the permissions error is fixed with the last commit?

[2015-07-27 09:05] CreativeSoftware commented on #33
Svg writing permissions solved!

[2015-07-27 18:28] hamiltonkibbe commented on #33
@phsilva we should be able to close this, as it is specific to the cairo-render-unification branch, but I'm not sure if you want to wait until the branch is merged into master

[2015-07-27 18:49] phsilva commented on #33
@hamiltonkibbe, we can close, I will finish the work on the cairo-render-unification to get it ready to merge.

[2015-07-27 19:11] hamiltonkibbe commented on #33
Sounds good. Closing

[2015-07-27 19:11] #33 closed

[2015-07-29 12:48] CreativeSoftware commented on #32
@hamiltonkibbe any news? I think that I can help if you need, I don't know how :)

[2015-08-03 13:30] hamiltonkibbe commented on #32
I started taking a look at it over the weekend, I'll let you know when I get it figured out.

[2015-08-09 19:11] hamiltonkibbe commented on #32
Think I got it sorted out:

![test](https://cloud.githubusercontent.com/assets/1652994/9156461/f2e0084c-3ea8-11e5-8be7-f34956d4e30a.png)

[2015-08-10 00:25] CreativeSoftware commented on #32
Wel done !  It is correct ! :)

On 9 August 2015 at 20:11, Hamilton Kibbe <notifications@github.com> wrote:

[2015-08-10 01:20] #32 closed

[2015-09-03 16:11] punkkeks opened #37 "Do not read solely from files"
When parsing a (e.g.) gerber file, you have to have a file, but in my current situation I already read the file because of internal file handling.
I'd like to have a function where you can pass the data and get the result back (I hope you undestand what I want, i can't express myself today :/ )

[2015-09-03 17:05] hamiltonkibbe commented on #37
Would the data be in a string or some other format (open file handle, etc.)?

[2015-09-03 17:08] punkkeks commented on #37
in my case a bytearray, but a string would be perfectly fine as well.

[2015-09-03 17:57] punkkeks opened #38 "Let the render write into memory"
When I want to draw an image for e.g. a webapplication, I don't want to save that image to the disk, but instead I want to send it via HTTP GET 'answer' to the client. Please provide me a method, so the render method will give me a bytearray back.

[2015-09-03 18:11] punkkeks commented on #38
Got a workaround, but that isn't nice

    from StringIO import StringIO

    sio = StringIO()
    ctx.dwg.write(sio)

[2015-09-07 14:46] CreativeSoftware commented on #32
Could you post the sample code that generates this image?
I'm not able to reproduce the same image. It could be a code problem or I've installed different libs or branches.
(currently I have the branch from 9/08)

[2015-09-08 17:29] hellow554 opened #39 "Wrong rendering for arcs"
I have a gerber outline file with some lines and two arcs. Those two arcs are render in the wrong direction (they should be convex).

![a 1](https://cloud.githubusercontent.com/assets/921462/9742286/820d35b2-565f-11e5-9d37-02226c8341ab.png)

[code]

[2015-09-10 11:36] phsilva commented on #8
#40 to solve this.

[2015-09-10 11:37] phsilva commented on #39
@punkkeks, are you using master or cairo-render-unification branch (soon to be merge back to master)?

[2015-09-10 11:41] punkkeks commented on #39
master

10. September 2015 13:37 Uhr, "Paulo Henrique Silva"  schrieb:
	@punkkeks (https://github.com/punkkeks), are you using master or cairo-render-unification branch (soon to be merge back to master)?

	—
Reply to this email directly or view it on GitHub (https://github.com/curtacircuitos/pcb-tools/issues/39#issuecomment-139210263).

[2015-09-10 11:42] phsilva commented on #39
Ok, can you try cairo-unification-branch please? We are moving all the rendering to a single backend and hopefully we can fix it there if the problem is still present.

[2015-09-10 16:09] punkkeks commented on #39
I'm now on the "cairo-render-unification"-branch:

first, the svgcontext:

the cairocontext does it right, but the file is 1.2MB big....

$ file a.png
a.png: PNG image data, 20775 x 18330, 8-bit/color RGB, non-interlaced

I provided you the gerber file in the first post, so feel free to do it
yourself ;)

[2015-09-10 23:25] phsilva commented on #8
closed by #40

[2015-09-10 23:25] #8 closed

[2015-09-13 15:20] hamiltonkibbe commented on #32
Can you try with the current version of master? A bunch of changes got merged in that affect rendering.  The code to generate that image would be nearly identical to the cairo_examply.py script in the examples folder. Something like this should work:

    from gerber import read
    from gerber.render import GerberCairoContext
    ctx = GerberCairoContext()
    layer = read('LA1.gbx')
    layer.re

[2015-10-10 20:52] hamiltonkibbe commented on #37
@punkkeks Could you take a look at the read_from_memory branch and see if that works for your use case?

[2015-10-12 21:15] punkkeks commented on #39
Any progress?

[2015-10-12 21:25] punkkeks commented on #37
Looks good to me. I tried to load the file (why do you call it loads?), get the primitives out and render an image. Works :) No Exceptions for me, so I give it a :+1:

[2015-10-12 21:37] hamiltonkibbe commented on #37
Probably too much messing around with the JSON module which uses load() for files and loads() for strings

[2015-10-14 18:37] phsilva commented on #37
fixed by #41

[2015-10-14 18:38] phsilva commented on #37
let me know if there is anything else on this issue, otherwise I'll close it.

[2015-10-14 18:39] phsilva commented on #39
@punkkeks, not yet, will get more time into this this week, will let you know.

[2015-11-15 06:57] brouhaha commented on #39
I'm trying to package pcb-tools for Fedora, using the latest commit (ebc8518), and I'm also seeing the "AttributeError: 'GerberSvgContext' object has no attribute '_paint_background'" error, when I try the example in the README.

[2015-11-15 07:15] brouhaha opened #44 "no attribute '_paint_background'"
I'm trying to package pcb-tools for Fedora, using the latest commit (ebc8518), and I'm seeing the "AttributeError: 'GerberSvgContext' object has no attribute '_paint_background'" problem which punkkeks reported in issue #39, when I try the example in the README.

I kludged a workaround for the "no attribute 'paint_background'" problem by patching svgwrite_backend.py to add a no-op _paint_backgroun

[2015-11-15 15:09] phsilva commented on #44
Our fault here, the svgwrite backend is deprecated and broken. You can se thr Cairo backend to write both PNG and svg.

I will remove it to avoid confusion.

[2015-11-16 00:52] phsilva commented on #44
#45 will be merged as soon as @hamiltonkibbe agrees. Sorry for the confusion on this.

[2015-11-18 14:56] hamiltonkibbe commented on #44
Hey @brouhaha, could you give it a try now? This should have been fixed by ba82d60cb8a886a82d4c4199473bb1189efc6419.

[2015-11-18 14:57] #37 closed

[2015-12-06 12:43] geekman opened #48 "AMs not correctly persisted when parsing then writing gerber"
I'm using the library to modify gerbers, but aperture macros (AMs) are not being correctly persisted after the file is written out. Sample code is below:

    f = gerber.read('test.gto')
    f.write('test2.gto')

The AM from my file looks like this:

    %AMOC8*
    5,1,8,0,0,1.08239X$1,22.5*
    %

Firstly, `self.primitives` is empty as `__init__` doesn't convert `self.instructions` into `self.pr

[2015-12-06 23:45] phsilva commented on #48
@geekman, I've added a test case to catch this on #49 . Help there is welcome, I'll have a busy week.

[2015-12-12 20:18] sergeyfedotov opened #50 "Semitransparent layer"
Is it possible to draw a semitransparent solder mask over the copper layer?

Like this:
![7b0028f977275872af9b531cc4ad9b98](https://cloud.githubusercontent.com/assets/2290214/11763726/8dbf78c2-a126-11e5-9cb7-1653b2013ae1.png)

[2015-12-14 14:58] hamiltonkibbe commented on #50
You can set the ```alpha``` parameter on the rendering context to set layer opacity, but at the moment we don't have the ability to render the soldermask layer in negative....

I'll take a look at this, shouldn't be too difficult to add

[2015-12-20 03:01] hamiltonkibbe commented on #44
I'm gonna say we should go ahead and close this one, It should have been fixed by removal of SVGWrite backend

[2015-12-21 00:08] phsilva commented on #44
Agreed, #45 fixed this, just left open waiting for confirmation...

[2015-12-21 00:08] #44 closed

[2015-12-21 00:16] phsilva commented on #50
Fixed per #50. Would be nice if you could check and maybe post an image here from your use case. Thanks.

[2015-12-21 00:16] #50 closed

[2015-12-21 04:57] hamiltonkibbe commented on #38
This should be fixed, I've added a ```dump_str()``` method to ```GerberCairoContext``` that returns a png as a string. Theres also a ```dump_svg_str()``` method which returns an SVG as a string.
Let me know if this works for your use case

[2015-12-21 10:11] sergeyfedotov commented on #50
Thx, it works fine

![cairo_example](https://cloud.githubusercontent.com/assets/2290214/11928395/4958df1a-a7e4-11e5-940b-edd8fecea4f3.png)

[2016-09-11 08:26] ghotiv opened #56 "how can I read tessel file"
dear,
[Uploading tessel-v2-4-28-2015.zip…]()
this is my file, i read this unzip file use the code
`import os
from gerber import PCB
from gerber.render import GerberCairoContext, theme

GERBER_FOLDER = os.path.abspath(os.path.join(os.path.dirname(__file__), 'tessel-v2-4-28-2015'))

# Create a new drawing context
ctx = GerberCairoContext()

# Create a new PCB instance
pcb = PCB.from_directory(GERBER

[2016-09-13 13:52] hamiltonkibbe commented on #56
@ghotiv can you re-upload the zip file you were trying to open? the link seems to go back to this issue and not the gerber files

[2016-09-29 23:48] hamiltonkibbe commented on #56
@ghotiv, It seems the issue was with it not detecting layer types, I've added some more hints to the layer type detection, should be fixed as of fedaedb6ebb8cc6abfc218d224a3ab69bb71b56.
Let me know if it works for you

[2016-11-21 20:26] ju5t opened #60 ".png resolution"
What would be the best way to make sure a png file is generated with a fixed max-width? I tried setting up an example with a set of gerber files I can't share, but it generates an image of 26066 x 11066 pixels. Aside from it taking >5 minutes it's a little over the top right in this case.

Have I missed an option somewhere?

[2016-11-21 20:35] hamiltonkibbe commented on #60
`GerberCairoContext()` takes a scale parameter, which is the DPI of the output file. It defaults to 300, you can lower that to make the output image smaller.

That's the best you can do for now, although I'm going to keep this open, since specifying a desired output size would be a useful feature.

[2016-11-27 08:17] ju5t opened #61 "Regex for guess_layer_class"
Unfortunately not everyone uses the same naming convention. I tried adding hints by extending layers.hints but the regex that is used there is too specific for the files I want to match. I'd like to extend guess_layer_class as follows (and as such change `Hint = namedtuple('Hint', 'layer ext name')` into `Hint = namedtuple('Hint', 'layer ext name regex')`:

[code]

I don't want to change the regex

[2016-11-28 15:51] ju5t commented on #60
Sounds good. Is there anything else I can do to speed things up? If I compare the speed to the gerbv cli it is outperformed by miles. Gerbv isn't as pretty though.

[2016-11-30 00:18] hamiltonkibbe commented on #61
Yeah that looks good, go ahead an open a PR. Adding some test cases with the filenames that were giving you trouble would rock

[2016-12-10 13:12] #61 closed

[2016-12-12 00:22] phsilva opened #63 "convert gerbers to nc drill and vice versa"
I've been receiving more and more drills represented as Gerbers and not NC Drill files. Would be great to add a API and command line support to convert a drill Gerber file to NC Drill file and vice versa.

[2016-12-13 05:06] hamiltonkibbe commented on #60
7c4ec8a768c7dfd3124 speeds up rendering quite a bit.  @ju5t can you try with the current master branch, and see if that improves things for you?

[2016-12-13 05:08] hamiltonkibbe commented on #63
Haven't seen much of that yet... are holes just represented as flashed circles?

[2016-12-13 07:29] ju5t commented on #60
This definitely seems to be much, much faster. I still have to test it with more complex gerber files but it definitely looks good. A 300 dpi image renders in <30 seconds now. Speed wise I think this sorts it.

A custom max width or height for example would still be useful as it seems that changing the dpi is unreliable at best. A 15 dpi image can either be a reasonable size or so small that you c

[2016-12-13 21:20] ju5t commented on #60
@hamiltonkibbe this is the speed difference on a 12 layer:

On the previous version: succeeded in 1252.20317434s
On the current master branch: succeeded in 58.22679924s

[2016-12-14 01:30] hamiltonkibbe commented on #60
Thanks for the benchmark @ju5t. I think there's still some optimizations to do there...

As far as the sizing goes, check out the `auto_scale_renders` branch. adds `max_width` and `max_height` arguments to `render_layers` on the cairo renderer.  If that works against a few more test cases than the ones I've done, I'll get that in master

[2016-12-14 06:51] ju5t commented on #60
Looks good @hamiltonkibbe.

[2016-12-14 06:52] ju5t opened #64 "Calculating edges"
There are cases where it miscalculates the edges of the pcb. This happened with the master branch too so it wasn't introduced by `auto_scale_renders`. I haven't checked the files with anything else than gerbv yet though. Have you seen this before?

This is with gerbv:
https://www.dropbox.com/s/s64gng4yqf3d82n/gerbv-output.png?dl=0

This is with pcb-tools
https://www.dropbox.com/s/gbcvhp3lr68grd9/p

[2016-12-16 18:24] gadgetjunkie opened #66 "Drill files with Gxx commands on their own line crash the gerber parser"
The following is valid Excellon:

G00
X040944Y019842
M15
G01
X040944Y020708
M16

The parser for the G00 and G01 commands assume that the coordinates follow the routing command on the same line.  When parsing excellon code like the example, this results in an index out of range exception in from_excellon because an empty string has been passed to it.

Need to add checks for empty string in from_exc

[2017-02-21 06:59] ju5t commented on #60
@hamiltonkibbe just so you know I haven't seen any issues with the `auto_scale_renders` branch.

[2017-02-24 13:38] hamiltonkibbe commented on #60
Thanks @ju5t. Changes are in master

[2017-02-24 13:38] #60 closed

[2017-06-11 09:43] greenscreenflicker opened #72 "Example fails"
I followed the installation steps. However the example fails.

michael@oldgrey:~/work/pcb-tools/examples$ python render_gerbv_tests.py
Loaded Gerber file: test-aperture-circle-1.gbx
Traceback (most recent call last):
  File "render_gerbv_tests.py", line 52, in <module>
    layer.render(ctx)
  File "build/bdist.linux-x86_64/egg/gerber/cam.py", line 274, in render
    ctx._paint_background()
  File

[2017-06-12 08:32] greenscreenflicker commented on #72
@curtacircuitos

[2017-06-12 12:01] hamiltonkibbe commented on #72
This should be fixed by f7a719e6f7 can you try again with the latest version

[2017-06-13 19:10] greenscreenflicker commented on #72
@hamiltonkibbe
I'm afraid not all fixed.

michael@oldgrey:~/work/pcb-tools/examples$ python cairo_example.py
Traceback (most recent call last):
  File "cairo_example.py", line 44, in <module>
    ctx.render_layer(copper)
  File "build/bdist.linux-x86_64/egg/gerber/render/cairo_backend.py", line 98, in render_layer
  File "build/bdist.linux-x86_64/egg/gerber/render/cairo_backend.py", line 198, in _

[2017-07-04 05:24] hamiltonkibbe commented on #72
removed the rest of the instances of mixing unpacks with kwargs... Let me know if that fixes it for you.

[2017-07-04 06:17] hamiltonkibbe commented on #66
Fixed by 7ad6c3f

[2017-07-04 06:17] #66 closed

[2017-09-18 09:03] kliment opened #74 "Running tests in travis fails"
I forked the repo and tried running the travis CI tests on the current master, and the tests fail although it's the exact same commit. [This](https://travis-ci.org/curtacircuitos/pcb-tools/builds/249874328) build from 3 months ago passes but [this](https://travis-ci.org/kliment/pcb-tools/builds/276752212) build of the same commit from today fails. Any idea what's happening?

[2017-09-18 09:20] kliment commented on #74
Looks like it's related to https://blog.travis-ci.com/2017-08-31-trusty-as-default-status because setting the dist to precise makes it work

[2017-09-22 12:57] hamiltonkibbe commented on #74
It appears to be due to differing versions of Cairo. It's likely that the naive image file comparison we're doing in those tests that are failing will have to be replaced with something more robust

[2017-10-08 20:53] ju5t commented on #64
I'll close this for now as apparently I've removed the files from Dropbox.

[2017-10-14 09:43] linlun opened #75 "Cannot render my PCB, cairo returned CAIRO_STATUS_INVALID_SIZE"
Hi,

I'm trying to render my current PCB created in kicad using the cairo_example.py script.
I get the following output:
[code]
[gerbers.zip](https://github.com/curtacircuitos/pcb-tools/files/1384555/gerbers.zip)

I have disabled the drill files as there is some other issue with those, I have attached the gerber files to this issue.

[2017-11-01 19:26] ju5t opened #77 "TypeError: 'instancemethod' object is not iterable"
I haven't had the chance to dig into this yet but either way a bug report is in place. I'm getting the following error:

[code]

Unfortunately I can't share the gerber files. I don't see the same issues with other files.

[2017-11-01 20:10] hamiltonkibbe commented on #77
@ju5t Should be fixed by e12a04f, confirm and i'll close

[2017-11-02 07:18] ju5t commented on #77
@hamiltonkibbe it does solve this specific error. It gets one step further now and says:

[code]

[2017-11-04 15:11] ju5t opened #78 "Specify units on GerberCairoContext()"
`GerberCairoContext()` is an object of `GerberContext()` but it doesn't use `**kwargs`. Was this done on purpose? What would be the recommended solution to change the output of a `PCB()` object to metric instead of inches?

[2017-11-07 15:47] ju5t commented on #64
I have found a set of open source gerber files which make this issue reproducible. The files can be downloaded from https://oshpark.com/shared_projects/ztyE14yF -- just in case they will be removed I've added them to the issue too.

Any thoughts on how to solve this?

This is how OSH park draws the image:

![b704029c5fb85d6e87d2975b46de9f20](https://user-images.githubusercontent.com/3635751/325023

[2017-11-09 08:32] ju5t commented on #77
@hamiltonkibbe I've tried looking into this myself but it surpasses my knowledge of gerber files.

It looks like Slot is defined on the following line: https://github.com/curtacircuitos/pcb-tools/blob/7ad6c3f6acfe1fe995c9f087e7ef7a51add60afe/gerber/excellon.py#L218

And on line:
https://github.com/curtacircuitos/pcb-tools/blob/e12a04fc16fd3c43a1353658a528ac8325ef42bb/gerber/primitives.py#L1672

It

[2017-11-09 22:59] hamiltonkibbe commented on #77
I've been pretty busy this week, i'll probably be able to look at this on Friday or saturday, I have a pretty good idea of what the issue is.

[2017-11-10 07:54] ju5t commented on #78
Instead of forcing the output to be metric we have solved this a bit different. It may not be the best solution but for whoever runs into this, this is how we've done it.

[code]

This gives us `units` to work with so we can either mention it or convert `PCB().board_bounds` to what we need.

[2017-11-10 07:54] #78 closed

[2017-11-11 22:32] ju5t commented on #75
@linlun to be honest I haven't tried to render your files with the `cairo_example.py` script -- but I can't reproduce it with the following piece of code:

[code]

This should return something along the line of:

[code]

And it assumes you have extracted the files into the location that you've set in `gerbers_directory`.

[2017-11-14 14:16] hamiltonkibbe commented on #77
@ju5t give the fix-slot-position branch a try

[2017-11-16 07:23] ju5t commented on #77
@hamiltonkibbe this solves the issue for me. Awesome, thanks!

[2017-11-16 14:57] hamiltonkibbe commented on #77
merged. I'll take a look at that other PR, haven't had a chance to look at it yet

[2017-11-16 14:57] #77 closed

[2017-12-20 02:08] qisizhang opened #81 "cairo_example.py runs failed"
My computer is a Windows 64-bit system and I installed  pcb-tools by read README.md text.when I run zhe examples/cairo_example.py by PyCharm it occurs error:
OSError: cannot load library libcairo.so.2: error 0x7e.  Additionally, ctypes.util.find_library() did not manage to locate a library called 'libcairo.so.2'
I do not know how to fix this problem, can you  help me ?

[2018-02-17 19:57] ju5t commented on #81
@qisizhang the only real solution to this is to run it on a Unix-based system. You won't find .so files on Windows.

[2018-02-24 08:31] qisizhang commented on #81
thank you very much.

在 2018-02-18 03:57:12，"ju5t" <notifications@github.com> 写道：

@qisizhang the only real solution to this is to run it on a Unix-based system. You won't find .so files on Windows.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2018-03-21 12:15] mrath opened #82 "Png image flipped vertically"
When running the example with other gerber files, the output PNG is flipped about the horizontal axis. Can't attach a screenshot, since it would contain sensitive information.
I'm assuming it's because image files usually has the Y axis pointing downwards, unlike the gerber files themselves, but I'm confused by the fact that this issue hasn't been raised before.
It is also not entirely clear to me

[2018-05-31 04:29] hamiltonkibbe commented on #82
It sounds like the gerber file might have the axis inverted... I don't think rendering currently supports the mirror image commands.

It would show up in the file as an `MI` command  like:
```%MIA0B1*%```

Either way works, the linked code is what is actually used to render the example image and demonstrates some more of the features.

[2018-06-03 12:21] sybrenstuvel opened #83 "Creating a custom render class still requires Cairo"
I'm trying to use pcb-tools to create an importer for [Blender](https://www.blender.org/). The approach I'm thinking of is to create a custom renderer that actually generates Blender geometry. However, when importing `gerber.render` it fails because that module tries to import `.cairo_backend`.

By automatically importing that module, Cairo is always a requirement, even when it's not used at all.

[2018-06-03 12:34] sybrenstuvel opened #84 "CamFile.render() calls ctx functions not defined on GerberContext"
`CamFile.render()` unconditionally calls the following methods on `ctx` that are not defined on `GerberContext`:

[code]

Having those functions not defined on the class that is intended to be subclassed seems like bad design to me.

[2018-06-05 12:58] hamiltonkibbe commented on #83
Yeah cairo has been the de-facto renderer for a while, extensibility needs a bit of love and documentation. Check with 5245fb9 and see if that works for you

[2018-06-05 13:00] hamiltonkibbe commented on #84
Would like to add some documentation about how to extend this stuff, but i've added stubs for those to the base class... maybe moving to an ABC at some point. let me know if 5245fb9 fixed this for you

[2019-01-19 05:27] adithyadinesh96 opened #90 "Circular Board Rendering Issue"
Would it be possible to support Circular Board Rendering ?
Throws out wrong bounds and creates an error while calculating scale.

[2019-01-26 18:52] #84 closed

[2019-01-26 18:53] #83 closed

[2019-01-26 18:53] hamiltonkibbe commented on #90
Can you provide an example file that I could use to test?

[2019-02-25 00:55] crazyjc23 opened #95 "question: gerber program?"
what program and version should be used to for output files and what file extensions does it support. i have tried kicad and eagle but the files the output files are not recognized by pcbtools

[2019-02-28 14:33] hamiltonkibbe commented on #95
It should work with gerber/excellon files exported from either program, from eagle you need to use a CAM job to  export the gerber/excellon files. The file extensions from the default 2/4 layer CAM Job outputs should be fine.

[2019-02-28 18:45] crazyjc23 commented on #95
I think i found the problem, i tried and was successful with the python on windows but when using raspberry pi, it always says dump error. Could you help please help me fixing that

[2019-02-28 18:53] crazyjc23 commented on #95
I tracked down the issue and it is in cairo_backend.py line 250, retun self.surface.write_to_png(filename)

Somehow raspberry pi always throws in a memory error in this part.

[2019-03-02 07:43] adithyadinesh96 opened #96 "Rendering/Font Issue on Aws"
Hi,

We were using your old source(may be 2yrs old) for some time, to render. We recently updated to your new source (rendering has improved a lot, in Ubuntu)
But the issue is running on AWS EC2 Instance (Amazon Linux 1 OS). Old source used to run but the new source is not able to render properly. There are no errors but wont render properly and not sure what libraries are causing this issue.
We a

[2019-03-02 15:28] hamiltonkibbe commented on #95
Are the gerber files you're trying to render particularly large?
If you provide a stack trace (if available) that may give some more direction as to where to look.

[2019-03-02 16:40] crazyjc23 commented on #95
It's a 5by5 inch circuit design extracted from eagle. And im sorry im pretty much a newb in this.

[2019-03-02 16:43] crazyjc23 commented on #95
Im trying to use it for my school project. It uses a raspberry pi. The circuit design is a single sided 5by5 inch circuit. I tried reinstalling the cairocffi to the latest version but cant still cant get it to work

[2019-03-02 18:20] hamiltonkibbe commented on #95
if you can send me the gerber files I can try to reproduce on a pi later this weekend.
What os and python version are you using?

[2019-04-01 04:44] skrajath commented on #96
Hi,

I am too facing issues on AWS EB, is there a solution to this??
What am I missing here? Libraries/dependencies ate not getting installed properly .

[2019-04-01 13:28] hamiltonkibbe commented on #96
Can you share the output of `pip freeze` and the version of cairo you have installed system-wide?

[2019-04-01 14:47] skrajath commented on #96
So in the Virtual env
`pip freeze` has these

[code]

And the version of cairo you have installed system-wide is this

`1.12.14-6.8.amzn1`

Let me know if you need any more details, I will get it right away.

[2019-04-08 10:07] opiopan opened #97 "Implementing panelization function"
<img alt="example" src="https://raw.githubusercontent.com/wiki/opiopan/pcb-tools-extension/images/panelized.jpg" width=300 align="right">

Hi,

I made a extension library for pcb-tools to panelize gerber and drill data. That is published as [pcb-tools-extension](https://github.com/opiopan/pcb-tools-extension). This library supports PCB rotation, merging multiple board data, and handling DXF file i

[2019-04-10 19:35] noyart opened #98 "GerberCairoContext import error"
Hi!
Im trying to set everyhing up and try the exampel code. Im new to python.
I get this error when I run the exampel code. What can be the reason for the import error of the GerberCairoContext. Wrong version somewhere? I run a windows machine with python 3.

Exception has occurred: ImportError
cannot import name 'GerberCairoContext' from 'gerber.render' (C:\Users\Noy\AppData\Local\Programs\Python

[2019-04-10 19:55] hamiltonkibbe commented on #98
Think it needs to be imported from cairo_backend:

`from gerber.render.cairo_backend import GerberCairoContext`

[2019-04-14 10:58] noyart commented on #98
Sorry for the late reply, I still get the same problem that it cant import on that line.
I must have done something wrong during the installation right?

[2019-05-11 11:15] chintal commented on #64
@ju5t Silk screen overhangs don't typically count within board bounds. Gerber files contain an outline layer which does. Usually, these overhangs relate to connectors and such which aren't supposed to be a part of board size, and need special consideration on part of the mechanical housing design.

Usually, when looking at board bounds, you typically want to see the envelope within which the unpop

[2019-05-11 21:04] ju5t commented on #64
As I said, I am not really after the missing silkscreen. Although I do believe that if you're rendering an image that is meant to reflect the design, it should be included. You can't leave it out.

The problem is the outline itself.

If you open the zip file you will see `BLDC_4-Edge_Cuts.gm1`. This is what it should use to calculate the board size but yet in the image it is cut off. Not only at t

[2019-05-13 16:05] chintal commented on #64
I see. In case someone else searches and finds this :

Yes, it uses the top copper layer to determine the bounds if there isn't an outline layer available. In general, there should be an outline layer available. Depending on the software used, there are often instances where the gerber set is incomplete, when the PCB is designed enough for the manufacturer to fill in the details. For some other so

[2019-05-26 16:02] ju5t commented on #64
Huh? Maybe I am missing your point but that is exactly why I raised this issue. What do you mean?

[2019-05-27 08:08] chintal commented on #64
I was speaking generally since you said you weren't using this anymore.

That said, What I mean is that a relatively easily fixable issue would be if the outline layer is not correctly detected but should be for whatever EDA software you're using, such as if <>-Edge_Cuts.gm1 is where it usually places the outline. The code currently has a hint that recognizes "Edge.Cuts", not "Edge_Cuts" (https://

[2019-11-26 02:49] phsilva commented on #9
Fixed by bc53299, closing.

[2019-11-26 02:49] #9 closed

[2019-11-26 02:56] #98 closed

[2019-11-26 02:56] phsilva commented on #98
Fixed on master, Thanks for the report.

[2019-12-15 20:09] idlethread opened #116 "TypeError: can't pickle cairo.Matrix objects"
I'm using the library to render a png but I see the following error. It seems to be on the exact line that was changed in SHA: 2601ae8eab8d7be807bdbed264cd943e441a8da0. Any hints on what this means?

    ctx.render_layers(pcb.top_layers, render_p + '/renders/' + name + '_top.png')
  File "/home/idle/.local/lib/python3.7/site-packages/pcb_tools-0.1-py3.7.egg/gerber/render/cairo_backend.py", line 13

[2019-12-16 14:27] phsilva commented on #116
Hi @idlethread, are you using any multiprocessing in the example? Can you share the script you are runnnig?

[2019-12-16 22:27] kahlju commented on #98
This is not fixed.  please open it back up.  @chintal ruined the master in his latest commit to overwrite all the changes in the commit where @phsilva fixed all of this.  I'm not sure how he/she ran GerberCairoContext with his code, but it does not work again.  I'm reinstalling it with the "correct" code version which is not the master file anymore.

[2019-12-17 05:10] idlethread commented on #116
No multiprocessing. Script is effectively as follows. What I found suspicious was the change in SHA: 2601ae8 was exactly the line I see the bug.

# Extracting pcb file from directory for rendering
pcb = PCB.from_directory(gerber_folder)
blue_theme = theme.Theme(
                    topmask=RenderSettings(blue, alpha=0.8, invert=True),
                    bottommask=RenderSettings(blue, alpha=0.8,

[2019-12-19 06:57] idlethread commented on #116
Here is an easier way to reproduce, at least on my 19.10 Ubuntu machine:

1. Download https://kitspace.org/boards/github.com/kitspace-forks/bus_pirate/Bus_Pirate-0ca376a-gerbers.zip
2. Unzip the gerbers
3. Install pcb-tools dependencies using `pip3 install -r requirements.txt`
4. Install pcb-tools using `python3 setup.py install --user`
5. Run `gerber-render BusPirate-v3.6a-SSOP.gko`
`Traceback (m

[2019-12-21 18:28] aster94 opened #119 "png bottom image flipped"
hello,

using the test files attached I got a perfect image from the up, but a wrong image in the bottom:

![cairo_example](https://user-images.githubusercontent.com/21184718/71312123-b491cd00-2427-11ea-83ee-8a5709a097cf.png)
![cairo_bottom](https://user-images.githubusercontent.com/21184718/71312125-b65b9080-2427-11ea-8c17-730d2c8be235.png)

As you can see the silkscreen and the drill files shoul

[2019-12-22 06:20] MarinMikael commented on #119
Hello,
It seems that your filenames are not matching the pattern detected by the library, as such, pcb-tools is unaware that your bottom files are to be flipped.
I do not know this file pattern so I cannot tell if pcb-tools is right or wrong. I'll let the maintainers be the judge of that.

Meanwhile, a quick fix to your problem would be to change the names of the files to the following:
ATMEGA328-

[2019-12-22 22:35] aster94 commented on #119
Tomorrow I will try the second approach

My files are generated by the latest stable release of kicad 5, I guess them are right, but my knowledge about gerbers file is limited

[2019-12-23 11:04] aster94 commented on #119
ok that's a little better: only the drill file is inverted

![front](https://user-images.githubusercontent.com/21184718/71354417-32ff8380-257c-11ea-8073-b804a6bbab7b.png)
![bottom](https://user-images.githubusercontent.com/21184718/71354418-33981a00-257c-11ea-868d-b6551b04b7f4.png)

Do you know how to reduce the size of the images? both are about 1.6Mb I don't need such a resolution

[code]

[2019-12-23 12:08] aster94 opened #121 "pcb-tools with python 2.7"
hello,

I am running without problems pcb-tools on python 3.7 and 3.8

I tried to install it on 2.7

[code]

if i try

[code]

[2019-12-23 12:14] #121 closed

[2019-12-24 05:55] MarinMikael commented on #119
You can also mirror the layer using RenderSettings:
[code]
If you want more control about the appearance of your pcb, RenderSettings is the way to go.

I recommend you to use `file.endswith(pattern)` to check for patterns instead of `for ".." in file`.

[2019-12-25 17:30] aster94 commented on #119
It is simply perfect, thank you very much @MarinMikael I really appreciated your help 😀

I will leave the issue open in case the mantainers would like to add more support out of the box for the kicad gerbers files

![test-pcb](https://user-images.githubusercontent.com/21184718/71448923-c6cf7c00-2743-11ea-851b-1faba8e90346.png)

here there is the final code:
still i do not understand why i am passi

[2019-12-26 09:00] MarinMikael commented on #119
`DrillLayer` needs the path and the content of the file. `common.read` needs the path to get the content of the file.

[2020-01-01 21:37] idlethread commented on #116
@hamiltonkibbe @phsilva any suggestions on how to debug this?

[2020-01-11 00:52] alvinsu51416 commented on #98
Agreed with @kahlju, the new update does not fix the issue. I got the same error like @noyart did with pcb-tools 0.1.6

[2020-01-29 05:02] openedhardware opened #127 "Rendering takes too long"
Most of gerber file renderers works in 1~2 sec to render this sample files.

But it takes ~13 sec on my PC(core-i5, 4th gen, 3.2GHz) with your sample script.

[manifold-slave-v1.zip](https://github.com/curtacircuitos/pcb-tools/files/4126232/manifold-slave-v1.zip)

Any idea how to improve the performance?

Cheers.

[2020-03-02 12:30] jaseg opened #133 "CairoBackend.render_layer incorrectly uses layer.bounds instead of layer.bounding_box"
When rendering a layer to a Cairo surface, CairoBackend uses the layer's `bounds` attribute to determine surface size. This is incorrect and `bounding_box` should be used instead.

`bounds` will only take into account the endpoints of gerber primitives. This is fine for straight lines but fails in some cases for e.g. arcs. Take a board shaped like a square with an arc protruding on one side like t

[2020-03-02 18:44] phsilva commented on #133
Thanks @jaseg, will take a look into this and #90 asap.

[2020-03-17 19:21] lucasrevvo opened #137 "Feature Request: E-Test Probe (Short circuit detection)"
The ability to import x,y's of a netlist and determine if there are shorts between them.

[2020-03-22 20:55] lucasrevvo opened #138 "Zero width board outline won't render"
My board outlines have zero width, they only render with a width. I'd like a way to add width to them perhaps? Or to color the areas outside the board outline black?

[2020-04-01 11:33] sflbshjvuskfs opened #139 "Excellon format settings"
How do I specify integer and decimal places while reading an excellon file?

[2020-04-17 08:59] dafeiyoung opened #142 "run cairo_example.py got fuzzy rendered images"
Hello， everyone!
I ran _cairo_example.py_ successfully but I got fuzzy rendered images.

Here's what I have done:
After downloaded pcb-tools source code and installed all requirements, I just tryied to run _pcb-tools-master/examples/cairo_example.py_ and no error occurred. It was supposed to get images like these:
![cairo_bottom](https://user-images.githubusercontent.com/33953840/79550384-d7c54400

[2020-04-17 09:06] dafeiyoung commented on #142
BTW: the source code was downloaded from master branch.

[2020-05-09 07:32] LEVEN08069 commented on #142
老哥可以加你的扣扣,问问你这个问题解决了吗？

[2020-05-25 10:37] ayan702 commented on #127
hey man have you completely run this pub tools respirotory

[2020-05-27 17:36] Akshatha122 opened #150 "unable to find file format"
I'm new to this arena, so how basically does this work. Could anyone please explain the order of execution of the codes. I installed pycairo and debugged yet it says unable to find file format.

[2020-05-28 06:17] antoney1998 opened #151 "memory error"
(pcb_test) C:\Python37-32\internsh\pcb-tools\examples>python cairo_example.py
Traceback (most recent call last):
  File "cairo_example.py", line 63, in <module>
    ctx.dump(os.path.join(os.path.dirname(__file__), 'cairo_example.png'))
  File "C:\Python37-32\internsh\pcb_test\lib\site-packages\pcb_tools-0.1-py3.7.egg\gerber\render\cairo_backend.py", line 150, in dump
  File "C:\Python37-32\interns

[2020-05-28 06:38] antoney1998 commented on #151
I get this error while running the example file

This line throws error

ctx.dump(os.path.join(os.path.dirname(__file__), 'cairo_example.png'))

[2020-05-28 11:45] shoaibmalek21 opened #152 "TypeError: Surface.write_to_png takes one argument which must be a filename, file object, or a file-like object which has a "write" method (like StringIO)"
============================================================ test session starts =============================================================
platform linux2 -- Python 2.7.17, pytest-3.3.2, py-1.5.2, pluggy-0.6.0
rootdir: /home/shoaib/pcb_development/pcb-tools, inifile:
collected 330 items

gerber/tests/test_am_statements.py ..............................................

[2020-06-01 12:16] johnthagen opened #155 "Unpin cairo version in setup.py"
This line:

https://github.com/curtacircuitos/pcb-tools/blob/cf4a61244519f0ba0889beab3d5a3db61c44362d/setup.py#L43

Pins `cairocffi` at 0.6.0, but the latest is 1.1.0: https://pypi.org/project/cairocffi/

This means that Python applications that use `pcb-tools` are stuck with an older version. Is there a specific reason for pinning this to a [6 year old version](https://pypi.org/project/cairocffi/

[2020-06-01 12:18] johnthagen opened #156 "Upload wheels to PyPI"
Wheels (`.whl`) for this package are currently missing from PyPI. Could wheels be uploaded for the current and future releases?

Read more about the [advantages of wheels](https://pythonwheels.com/) to understand why generating wheel distributions are important.

To create a wheel along with source distribution:

[code]

To upload wheels:

[code]

[2020-06-01 12:20] johnthagen commented on #155
This is also currently pinned in `requirements.txt` as well:

https://github.com/curtacircuitos/pcb-tools/blob/cf4a61244519f0ba0889beab3d5a3db61c44362d/requirements.txt#L2

[2020-06-04 17:38] johnthagen opened #159 "Document that cairo needs to be installed for rendering"
I would suggest that it be documented that `cairo` is a system dependency of this package, and how users can install that.

On macOS with Homebrew:

[code]

Linking the `cairociffi` would also help: https://cairocffi.readthedocs.io/en/stable/overview.html#installing-cffi

[2020-06-16 14:38] ingobecker opened #164 "GerberCairoContext unusable in class context"
[code]

The call to `Foo` classes `render()` from the example above fails with the following error:

[code]
Running the code using the `python:3.7-buster`

[2020-06-16 16:50] ingobecker commented on #164
It seems to be related to `cairocffi`. If i install `pycairo` everything works just fine.

[2020-06-19 12:06] ingobecker commented on #116
It seems like `copy.copy()` isn't working with the `Matrix` class from `pycairo`.
[code]
To solve your problem, make sure you don't have pycairo installed. A better solution would be to make the `new_render_layer()` function compatible with both `cairocffi` as well as `pycairo` by not using `copy.copy()` on `Matrix`.

[2020-07-06 11:31] idlethread commented on #116
Hi Ingo,

Thanks for your reply.

With cairoffi, I see the following:

$ python
Python 3.8.2 (default, Apr 27 2020, 15:53:34)
[GCC 9.3.0] on linux
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "<frozen importlib._bootstrap>", line 991, in _find_and_load
  File "<frozen importlib._bootstrap>",

[2020-07-06 11:33] idlethread commented on #116
Hi Ingo,

Thanks for your reply.

With cairoffi, I see the following:

[code]

With cairo, I see the following:
[code]

I'm afraid I'm not too well versed in the nuances of these two libraries.
This is on Ubuntu 20.04. Does the README.md or requirement.txt need updates
to update which libraries must be installed?

Regards,
Amit

[2020-07-21 09:06] xiaoqiangnobug commented on #119
Hello,
         In the process of using it, I successfully render Gerber files on windows, but when porting to the Ubuntu system, all top layer inversion will appear when combined rendering, and there is no problem with single

![file gto2](https://user-images.githubusercontent.com/48015765/88035158-4d322c00-cb74-11ea-9fb4-b1d93298b559.png)
![微信图片_20200721170545](https://user-images.githubusercont

[2020-07-22 03:27] xiaoqiangnobug commented on #96
Hello,

I have the same problem. Have you solved your problem?

[2020-09-15 09:38] dev22Intellial opened #174 "Find arc center point if start point, end point and offset is given"
Please find the Stackoverflow question
https://stackoverflow.com/questions/63858792/find-arc-center-point-if-start-point-end-point-and-offset-is-given?noredirect=1#comment112929686_63858792
I got problem to find center point in https://github.com/curtacircuitos/pcb-tools/blob/master/gerber/rs274x.py
in  def _find_center(self, start, end, offsets) method "is_valid_sweep_angle = sweep_angle >= 0 and

[2020-09-24 08:15] dependabot-preview[bot] opened #175 "Dependabot couldn't authenticate with https://pypi.python.org/simple/"
Dependabot couldn't authenticate with https://pypi.python.org/simple/.

You can provide authentication details in your [Dependabot dashboard](https://app.dependabot.com/accounts/curtacircuitos) by clicking into the account menu (in the top right) and selecting 'Config variables'.

[View the update logs](https://app.dependabot.com/accounts/curtacircuitos/update-logs/48586310).

[2020-09-28 08:13] #175 closed

[2020-10-15 08:02] Ash-Labs commented on #116
Any solutions ?

[2020-10-15 08:50] idlethread commented on #116
@Ash-Labs Ingo attached a patch in #165

[2020-10-15 09:16] Ash-Labs commented on #116
@idlethread i forked and patched this. works! thanks for the prompt response!

[2020-10-15 09:27] ingobecker commented on #116
As an alternative to patching you could also try to coerce the usage of the cairo version that works using dependency managent.

[2020-10-15 09:33] idlethread commented on #116
@ingobecker How does one do that? See the output I get in https://github.com/curtacircuitos/pcb-tools/issues/116#issuecomment-654178862

[2020-10-15 11:11] ingobecker commented on #116
I guess the problem is this line [here](https://github.com/curtacircuitos/pcb-tools/blob/master/gerber/render/cairo_backend.py#L19) which prefers `pycairo` over `cairocffi` if installed. That's also a bit strange because [setup.py](https://github.com/curtacircuitos/pcb-tools/blob/master/setup.py#L43) specifies `cairocffi` as a requirement. If you make sure you have no `pycairo` installed `pcb-tool

[2020-10-15 11:24] ingobecker commented on #116
In other words, it looks like you have a version of `pycairo` installed. That might be the case, because you are using a global python version with all python packages installed globally. In this case, `pcb-tools` will have access to `pycairo` and use it. To prevent that behaviour and isolate the dependencies of your code you normally use something like virtual envs or a container. If you use `pyc

[2020-10-20 10:21] jaseg opened #178 "Gerber X2 %TF, %TA etc. attributes dropped during pcb-tools round-trip"
Hi,

when reading a gerber file with pcb-tools, then re-exporting to gerber all Gerber X2 attributes (%TF, %TA etc.) get dropped. It should probably either raise a warning when reading Gerber X2 attributes that it cannot parse or correctly preserve them.

Reproduction
------------------

`test.py`:
[code]

`test.gbr`:
[code]
Output
..............
[code]

[2020-10-20 10:34] jaseg opened #179 "Compatibility with upcoming KiCAD versions"
In their nightlies, KiCAD recently changed their layer naming scheme twice. About a year ago they replaced dots with underscores: `F.SilkS -> F_SilkS`. Recently, they [renamed some layers](https://gitlab.com/kicad/code/kicad/-/commit/22891c326d05241e7ac98b73363bbbfde18d684b) which shows up in the output gerber files, e.g. `F_SilkS -> F_Silkscreen`. `gerber/layer.py` should incorporate these.

[2020-11-06 13:07] senic35 commented on #98
Is there a fix to this? The issue still persists and what hamiltonkibbe suggested doesn't work for me, I get the following error: `OSError: dlopen() failed to load a library: cairo / cairo-2 / cairo-gobject-2`

[2020-11-19 12:16] BAndiT1983 commented on #139
We've stumbled upon the import now to (previous answer was targeting export). But as we do PCB panelistation and use pcb-tools-extension (gerberex), it was easy to set fixed format there, equal to our EAGLE export setting:

Format: 2.4:
`layer = gerberex.read(file_path, format=(2, 4))`

Couldn't find the settings for pcb-tools yet.

[2020-12-03 15:52] vladiks commented on #98
I have the same problem as @noyart  `No module named 'gerber.render'; 'gerber' is not a package`

First line of example `import gerber` works, but running `print(dir(gerber))` shows only `['__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', 'gerber']` , so there is for example no read method

[2020-12-04 09:03] vladiks commented on #98
Ok, so I found out, that i named my python file gerber.py, so `import gerber` was actually importing my own file :-)

I renamed the file and used the import suggested by @hamiltonkibbe and it got me to "cannot load library 'libcairo.so.2'", so that is different issue

[2020-12-27 16:34] geeks-r-us opened #189 "Using Pero library instead of plain PyCairo"
If this library would use https://github.com/xxao/pero as abstraction layer instead of plain PyCairo it would be a lot more flexible to be used with other GUI frameworks like PyQt, wxPython, and derived frameworks.

For example converting the image to an PyQt Widget is currently a real pain.

[2021-01-11 19:52] callowidealist opened #192 "Compatibility issue with windows"
I tried running it on my windows machine but got multiple errors related to packages , though i figured out them but i now i'm having multiple syntax error !!

`PS E:\pcb-tools>  e:; cd 'e:\pcb-tools'; & 'C:\Users\raghavendra_tripathi\AppData\Local\Programs\Python\Python39\python.exe' 'c:\Users\raghavendra_tripathi\.vscode\extensions\ms-python.python-2020.12.424452561\pythonFiles\lib\python\debugp

[2021-01-15 21:55] gabrielkarras commented on #192
Hi!

I had the same issue. I believe it's because we're using python 3, while the developers are using python 2? But I'm still having the same issues with python 2. Although, that could simply be my own fault.

Hopefully, the contributors would know how to tackle this issue.

[2021-02-14 13:22] sybrenstuvel commented on #192
The code has a bunch of these constructs:

[code]

The `is not` here is incorrect, and also was back in those ancient Python 2.7 times. The only reason it works is that CPython has certain optimizations when it comes to short strings. Since empty strings are falsy, all `is not ''` can just be removed, resulting in code like this:

[code]

[2021-02-14 22:30] XenGi opened #196 "Tag releases"
Ahoi,
I'm trying to maintain this package in the Arch Linux User Repository. You would make my live easier if you could tag your releases on github. I could then create the package from each release instead of checking out the master.

https://aur.archlinux.org/packages/python-pcb-tools-git/

[2021-04-17 10:44] XenGi commented on #196
@phsilva @chintal @johnthagen any thoughts on this?

[2021-05-25 05:49] positron96 opened #211 "Parsing gerber fails with "ValueError: could not convert string to float: 'OMP137'""
The code:
[code]

Produces error:
[code]

Here is the file in question: [combined.gtl.txt](https://github.com/curtacircuitos/pcb-tools/files/6536787/combined.gtl.txt)

The error might be at line 71, but it's hard to tell. The file is opened successfully with online gerber viewers.

[2021-06-05 04:07] HelloDorwin opened #213 "Fail to convert .gbl file to png file"
Hello， everyone!
I ran pcb_example.py successfully and got corresponding images.
but fail to convert .gbl file to png file

[2G09E752G0.zip](https://github.com/curtacircuitos/pcb-tools/files/6601963/2G09E752G0.zip)

This is my test file:

[code]

The error is:

Segmentation fault (core dumped)

Is someone know what's going on?

_My environment: ubuntu16.04 x64 & python2.7.6_

[2021-07-26 14:18] cofactr-mh commented on #133
Any update on this?

[2021-07-26 14:20] cofactr-mh opened #217 "Rendering of non-rectangular outlines"
Is there a way to get the area outside of the board outline to show as black, in the same way that drill holes do, instead of showing as the FR-4 background color? Currently, it seems to render the outline as a line but otherwise ignore it

[2021-11-10 06:40] wytr commented on #98
Bump, i just got the same Error which does not seem to be fixed by any advice given here.

[2021-12-26 14:02] byteptr opened #220 "ModuleNotFoundError: No module named 'gerber'"
Hello,
I installed pcb_tools 0.1.6 when I try to run the both examples of code listed below

1. [https://pypi.org/project/pcb-tools/](url)
2. [https://pypi.org/project/pcb-tools/](url)

I have the following error :
`ModuleNotFoundError: No module named 'gerber'`

Can you give me a successfull importing example, please?
Thanks in advance
So the package **doesn't work at all** because it crashes at

[2021-12-26 17:03] byteptr commented on #220
Hi again, I try to uninstall the module, and cmd line shows me that is in wrong directory
``pip uninstall pcb-tools
Found existing installation: pcb-tools 0.1.6
Uninstalling pcb-tools-0.1.6:
  Would remove:
    c:\users\utilisateur\.platformio\penv\lib\site-packages\gerber\*
    c:\users\utilisateur\.platformio\penv\lib\site-packages\pcb_tools-0.1.6.dist-info\*
Proceed (Y/n)?
  Successfully uninst

[2021-12-26 17:48] byteptr commented on #220
Hi, apparently something goes wrong installing from anaconda using
"pip install pcb_tools" goes to wrong directory that nothing relates to python.
If I install from source as is explained on site, the module installs correctly.

[2021-12-26 18:18] byteptr commented on #192
I'm wondering how these issue is closed while warnings still remains.
I replaced all 'is not ' with '!=' in the excellont_statements.py and ipc365.py and the warnings no longer exists.

[changes.zip](https://github.com/curtacircuitos/pcb-tools/files/7777377/changes.zip)

[2021-12-26 19:11] byteptr opened #221 "nc_drill.render(ctx, 'composite.svg') Shows no output file"
Hello,
I followed the example here [https://github.com/curtacircuitos/pcb-tools#usage-example](url) but this leads no output file.
All that I want is to convert a gerber file to svg.

[2022-03-03 18:18] pablo-johnson commented on #98
For the ones using docker, I put this command in the Dockerfile and it solved the problem
`RUN apt-get install -y libcairo2`

If you are not using docker, I supposed that it is solved just by running `apt-get install -y libcairo2` in the terminal.

[2022-03-04 02:59] bhclowers commented on #211
I'm running into a similar issue.  Did you ever identify a solution?

[2022-03-04 04:10] positron96 commented on #211
Nope.
I got the impression that the library simply doesn't support this feature. Someone with deep knowledge of Gerber needs to implement it.

[2022-06-02 07:01] #39 closed

[2022-06-09 07:17] jekoie opened #222 "pcb-tools draw a wrong way?"
Below gerber file, why pcb-tools draw it in a wrong way?
[code]
It should be this:
![image](https://user-images.githubusercontent.com/6836400/172787712-5ddd91e5-4682-44b9-943a-ffee0fd6e45c.png)

pcb-tools draw this:
![image](https://user-images.githubusercontent.com/6836400/172787860-53f069e2-cfad-451a-b649-dacf4ab74673.png)

[2022-07-24 21:40] CameronBrooks11 opened #223 "Missing library called 'libcairo.so.2'"
When I go to run any of the example .py files I get a module error: "ModuleNotFoundError: No module named 'gerber'". I was able to fix this by adding "sys.path.append(os.path.join(os.path.dirname(__file__), '..'))" at the beginning of the example file(s) but then I get the following error:

Traceback (most recent call last):
  File "/home/ckb22/pcb-tools/examples/../gerber/render/cairo_backend.py"

[2022-07-26 07:56] prolomb opened #224 "Tools indexing typo in excellon.py"
Hi,
@phsilva and all,
Maybe I found a typo here

https://github.com/curtacircuitos/pcb-tools/blob/0b6ccc3d268ed85617590c2a9080c9b999369a7e/gerber/excellon.py#L477

Should this line be written as

?

BR